@model StackOverflow.Presentation.WebApp.Models.Question.QuestionInfoViewModel

<br />
<h4>
	@Html.ActionLink(Model.Title, "Answers", "Question", new {id = Model.Id}, null)
</h4>

<div class="question-contant-container">
	<div class="question-contant">
		@Model.Content
	</div>
	<div class="show-btn">
		<span class="show-hide-question">Show/hide question</span>
	</div>
</div>

<span>
	@Model.Date
</span>