@model StackOverflow.Presentation.WebApp.Models.Question.QuestionViewModel

<br />
<h4>
	@Html.ActionLink(Model.Title, "Answers", "Questions", new {id = Model.Id}, null)
</h4>

<div class="question-contant-container">
	<div class="question-contant">
		@Model.Content
	</div>
	<div class="show-btn">
		<span class="glyphicon glyphicon-eye-open eye-open"></span>
	</div>
</div>

<span>
	@Model.Date
</span>