@using StackOverflow.Presentation.WebApp.Properties;
@using StackOverflow.Shared.Entities;

@model IEnumerable<Question>

@{
	ViewBag.Title = "Home Page";
}

<div class="jumbotron">
	<h1>@Resources.ApplicationName</h1>
	<p class="lead">You can ask your question by clicking @Html.ActionLink("here", "Create", "Questions").</p>
</div>

<h2>That ask users</h2>

@foreach (Question question in Model)
{
	<hr />
	@Html.ActionLink(String.Format("{0} {1}", question.User.FirstName, question.User.LastName), "UserInfo", "About", new { id = question.UserId }, null)
	@Html.Partial("_QuestionPartial", question)
}