@using StackOverflow.Presentation.WebApp.Models.Question

@model QuestionInfoCollectionViewModel

@{
	ViewBag.Title = "Index";
}

<h2>Active questions</h2>

@foreach (QuestionInfoViewModel question in Model)
{
	<div class="question-container">
		@Html.ActionLink(String.Format("{0} {1}", question.UserFirstName, question.UserLastName), "UserInfo", "About", new { id = question.UserId }, null)
		@Html.Partial("_QuestionPartial", question)
	</div>
}

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/slider")