@using StackOverflow.Shared.Entities

@model IEnumerable<Question>

@{
	ViewBag.Title = "Index";
}

<h2>Active questions</h2>

@foreach (Question question in Model) {
	<hr />
	@Html.ActionLink(String.Format("{0} {1}", question.User.FirstName, question.User.LastName), "UserInfo", "About", new { id = question.UserId }, null)
	@Html.Partial("_QuestionPartial", question)
}