@using StackOverflow.Presentation.WebApp.Models.Question

@model IEnumerable<QuestionViewModel>

@{
	ViewBag.Title = "Index";
}

<h2>Active questions</h2>

@foreach (QuestionViewModel question in Model)
{
	<div class="question-container">
		@Html.ActionLink(question.UserName, "UserInfo", "About", new { id = question.UserId }, null)
		@Html.Partial("_QuestionPartial", question)
	</div>
}

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/slider")