@using StackOverflow.Shared.Entities
@model StackOverflow.Presentation.WebApp.Models.Question.UserQuestionsViewModel

@{
	ViewBag.Title = "Index";
}

@if (!Model.Any())
{
	<h2>No questions</h2>
	<h3>
		To add a question, click @Html.ActionLink("here", "Create").
	</h3>
}
else
{
	<h2>My questions</h2>

	foreach (Question question in Model)
	{
		@Html.Partial("_QuestionPartial", question)
	}

	<hr/>
	@Html.ActionLink("Ask a question", "Create", null, new { @class = "btn btn-default" })
}

